header{
	background: black;
	padding-top: 20px;
}

.pic1 {
	height: 75px;
	width: 75px;
	float: left;
	border: 10px black;
	border-radius: 5px;
	margin-left: 20px;
}

h1 {
	text-align: center;
}

strong {
	text-align: center;
}

h2 {
	text-align: center;
}

.nav {
	margin-left: 75%;
}

.pic2 {
	height: 200px;
	width: 200px;
}

footer {
	background: black;
	font-family: cursive;
	padding: 20px;
	color: white;
}
