header{
	background: black;
	padding-top: 20px;

}

.pic1 {
	height: 75px;
	width: 75px;
	float: left;
	border: 10px black;
	border-radius: 5px;
	margin-left: 20px;
}

h1 {
	text-align: center;
}

strong {
	text-align: center;
}

h2 {
	text-align: center;
}

.nav {
	margin-left: 75%;
}

.pic2 {
	height: 200px;
	width: 300px;
	box-shadow: 8px 8px 10px black;
}

footer {
	background: black;
	font-family: cursive;
	padding: 20px;
	color: white;
}

html { display: flex;}
body { width: 100%;}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.mainContent {
	flex: 1 0 auto;
}