head {
	background-image: url("http://spliffmobile.com/ultra-hd-wallpapers/download/4k-rasta-grunge-wallpaper.png");
	opacity: 0.5;
}

header {
	background: transparent;
}

img {
	height: 75px;
	width: 75px;
	float: left;
	border: 10px black;
	border-radius: 5px;
	margin-left: 20px;
}

h1 {
	text-align: center;
}


.nav {
	margin-left: 75%;
}

